@using MediaLibrary.Models
@model MediaLibrary.Models.Media


@{
    ViewBag.Title = "Index";


}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "InsertMedia", "Media")
</p>


@using (@Html.BeginForm("BrowseAll", "Media", FormMethod.Post))
{
    <div class="form-inline" style="margin-bottom:20px;">
        <div class="form-group">
            @Html.TextBoxFor(m => m.input, new { @class = "form-control", @placeholder = "Search" })<br />
        </div>
        @Html.DropDownListFor(m => m.selection,
                          new SelectList(Enum.GetValues(typeof(Criteria))),
                          "Select criteria",
                          new { @class = "form-control" })
        <input type="submit" class="btn btn-primary" />

    </div>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genere)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Language)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Budget)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Director)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PublishYear)
        </th>

        <th></th>
    </tr>

    @foreach (var item in ViewBag.media)
    {
    <tr>
        <td>
            @item.Title
        </td>
        <td>
            @item.Genere
        </td>
        <td>
            @item.Language
        </td>
        <td>
            @item.Budget
        </td>
        <td>
            @item.Director
        </td>
        <td>
            @item.PublishYear
        </td>
        @if ((int)Session["UserLevel"] == 3)
        {
            <td>
                @Html.ActionLink("Edit", "UpdateMedia", "Media", new { id = item.MediaID, title = item.Title }) |
                @Html.ActionLink("Delete", "DeleteMedia", "Media", new { MediaID = item.MediaID, Media = Model })
            </td>
        }
        else if ((int)Session["UserLevel"] == 1)
        {

        <td style="text-align:center;">
            @Html.ActionLink("Borrow", "InputBorrow", "Media", new { MediaID = item.MediaID, UID = Session["UserID"], Media = Model }, new { @class = "btn btn-primary" })
        </td>
        <td style="text-align:center;">
            @Html.ActionLink("Reserve", "InsertReserve", "Media", new { MediaID = item.MediaID, UID = Session["UserID"], Media = Model }, new { @class = "btn btn-primary" })
        </td>

        }
    </tr>
            

        }

</table>
<h3><small style="color:red;">@ViewBag.Msg</small></h3>
