@model MediaLibrary.Models.UserValue

@{
    ViewBag.Title = "LoginUser";
}

    @*<script type="text/javascript">

        function LoginUser() {*@

            <h2>LoginUser</h2>
                <div class="container">
                    @using (@Html.BeginForm("UserVerify", "User", FormMethod.Post))
                    {
                        @Html.LabelFor(model => model.userName, "User Name")<br />
                        @Html.TextBoxFor(model => model.userName)<br />
                        @Html.LabelFor(model => model.password, "Password")<br />
                        @Html.PasswordFor(model => model.password)<br />
                        <input name="submit" type="submit" class="btn btn-primary" />
                    }
                        <h3><small style="color:red;">@ViewBag.ValidateMsg</small></h3>
                </div>

        //    $.get("/api/Default", { userName: "$userName").val(), password: $("#password").val() }, function (data) {

        //    if (data == undefined || data == false) {
        //        alret("Invalid User");
        //} else if (data == "True") {
        //    alret("Welcome user !");
        //}
        //} );
        //}
        //}
@*<h2>LoginUser</h2>
<div class="container">
    @using (@Html.BeginForm("UserVerify", "User", FormMethod.Post))
    {
        @Html.LabelFor(model => model.userName, "User Name")<br />
        @Html.TextBoxFor(model => model.userName)<br />
        @Html.LabelFor(model => model.password, "Password")<br />
        @Html.PasswordFor(model => model.password)<br />
        <input name="submit" type="submit" class="btn btn-primary" />
    }
        <h3><small style="color:red;">@ViewBag.ValidateMsg</small></h3>
</div>

    </script>*@
